.menuCard {
    height: 120px;

    .cardContent {
        height: 100%;
    }
}

.menuCard.comingSoon {
    position: relative;
    pointer-events: none;

    .cardContent {
        opacity: 0.5;
    }
}

.comingSoonBadge {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    padding: 10px 0;

    background: white;
    color: black;
    text-align: center;
}
